<% provide(:title, 'home')%>

<h1 class="">aici e index din tasks folder</h1>
 <div class="m-10">
        <%= link_to "new Task", new_task_path,  class: "focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" %>
    </div>
<div class="border p-5 space-y-2 bg-white text-cente1r">
    <div class="grid grid-cols-3 gap-6 p-10">
        <% @tasks.each do |task| %>
        <div
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                <%= link_to task.title, task_path(task) %></h1>
            <p class="font-normal text-gray-700 dark:text-gray-400"> <%= task.description %></p>
            <br>
            <p class="font-normal text-gray-700 dark:text-gray-400"> <%= task.company %></p>
        </div>
        <% end %>
    </div>
   
</div>