
<div class="space-y-9 mt-5">


<h1 class="text-5xl ">title 3 search</h1>
<h2>tip 1</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum ut adipisci placeat delectus, ipsum, tempore quibusdam, commodi quos aperiam eos aliquid. Pariatur culpa rerum sapiente, molestiae consectetur ad ut? Similique maxime libero quo officiis nam. Veniam, officiis fuga neque nulla magni, cumque officia expedita ducimus rerum libero dolorem commodi.</p>
<h2>tip 2</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum ut adipisci placeat delectus, ipsum, tempore quibusdam, commodi quos aperiam eos aliquid. Pariatur culpa rerum sapiente, molestiae consectetur ad ut? Similique maxime libero quo officiis nam. Veniam, officiis fuga neque nulla magni, cumque officia expedita ducimus rerum libero dolorem commodi.</p>
<h2>tip 3</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum ut adipisci placeat delectus, ipsum, tempore quibusdam, commodi quos aperiam eos aliquid. Pariatur culpa rerum sapiente, molestiae consectetur ad ut? Similique maxime libero quo officiis nam. Veniam, officiis fuga neque nulla magni, cumque officia expedita ducimus rerum libero dolorem commodi.</p>
</div>